# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains project-specific workspace settings, tasks, and
# launch configurations created by VS Code.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/flutter_export_environment.sh

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this to its gitignore
# But just in case
.gradle/
**/android/local.properties
**/android/app/build/

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages